/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}


/*------------------------------------*\
    $MAIN
\*------------------------------------*/

html {
    background: url(../img/bg.jpg) #bd3348;
    background-size: cover;
    font-family: "museo-sans";
    color: #777777;
}

body {
    background: white;
    width: 60%;
    float: right;
    height: 100vh;
    box-sizing: border-box;
    padding: 2% 10%;
    line-height: 1.5;
    font-size: 21px;
}

h1 img{
    width: 80%;
    margin: 10%;
}

p{
    margin-bottom: 1.5rem;
}

a {
    display: inline-block;
    padding: 10px;
    background: #F28199;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    width: 48%;
    box-sizing: border-box;
    text-align: center;
}

a.ebay{
    margin-right: 2%;
}

@media (max-width: 1200px) {
    
    body {
        font-size: 18px
    }
}

@media (max-width: 900px) {
    
    body {
        font-size: 16px
    }
}

@media (max-width: 600px) {
    
    body {
        font-size: 14px;
        width: 100%;
        float: none;
        margin-top: 100px;
        height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 400px) {
    
    body {
        font-size: 12px;
    }
}